language: go

go:
    - "1.4"
    - "1.5"
    - "1.6"
    - "1.7"
    - "1.8"
    - "1.9"
    - "1.10"
    - "1.11"
    - "1.12"
    - tip

go_import_path: gopkg.in/yaml.v2

script:
- GO111MODULE=on go test -v -race ./...
- git diff --exit-code
